:root {
    --clr-primary: #DCCAE9;
    --clr-accent-200: #724C9D;
    --clr-accent-700:#2C1B47;
    --clr-neutral-100: #000;
    --clr-neutral-900: #FFF;

    --fw-body: 400;
    --fw-nav: 600;
    --fw-heading: 700;
    --fw-btn: 900;

    --ff-body: "Montserrat", serif;
    --ff-nav: "Playfair Display", serif;
    --ff-heading: "Playfair Display", serif;

    --fs-heading: 3.75rem;  /* 36px */
    --fs-body: 1.325rem; /* 21px */
    --fs-btn: 1.125rem; /* 18px */
    --fs-nav: 1.125rem;
}

/* General styling */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
    margin-top: 0;
}

.section-title {
    color: #87629A;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase; 
    background-color: var(--clr-neutral-900);
    color: var(--clr-accent-700);
    /* color: #23424A; */
    font-weight: var(--fw-btn);
    /* background-color: #38CFD9; */
    padding: .75em 2em;
    border-radius: 100px;
}

.btn:hover,
.btn:focus {
    opacity: .75; 
}

.btn-dark {
    background-color: var(--clr-accent-700);
    color: var(--clr-neutral-900);
    margin-bottom: 1em;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    /* added for nav-toggle positioning */
    position: relative;
}

header {
    background-color: #DCCAE9;
    padding: 1em 0;
    text-align: center;
}

.nav {
    width: 100%;
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: var(--clr-accent-700);
    color: white;
    transition: opacity 250ms ease;
    position: absolute;
    left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
} 

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav__item {
    padding: 1em 0;
}

.nav__item:hover,
.nav__item:focus {
    opacity: 0.65;
}

.nav__link {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

/* .nav__link--button {
    background-color: #fff;
    color: #23424A;
    padding: 0.5em 1.2em;
    border: none;
    border-radius: 100px;
} */


.nav__list--primary {
    margin-bottom: 1em;
}

/* .logo {
    /* height: 30px; */
/* }  */

.logo-image {
    width: 5%;
}

.hero {
    padding: 100px 0;
    background-color: #FFF;
    color: #000;
}
.hero__img {
    margin-top: 0.5em;
}


.hero p {
    margin-bottom: 3em;
}

.portfolio-content--title {
    text-align: center;
    color: var(--clr-accent);
}

.primary-content {
    margin: 0 0 3em 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.primary-content--title {
    text-align: center;
}

.primary-content--text {
    padding: 0 2em 2em;
}
.primary-content--link {
    color: var(--clr-accent-700);
    text-decoration: none;
}

.primary-content--link:hover,
.primary-content--link:focus {
    opacity: 0.55;
    color: var(--clr-accent);
}

.myInfoContact {
    /* background: linear-gradient(-94deg, var(--clr-accent-200), var(--clr-primary)); */
    padding-bottom: 2em;
}

footer {
    padding: 1em 0;
    background-color: var(--clr-primary);
    text-align: center;
}

.social-media--link {
    color: var(--clr-neutral);
    text-decoration: none;
}



/* Reusable classes */

/* Custom styling */

/* Media Queries */
@media screen and (min-width:1100px){
    .logo {
        text-align: start;
    }
    .logo-image {
        width: 20%;
    }

    .nav-toggle {
        display: none;
    }

    .nav {
        visibility: visible;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: auto;
        position: relative;
    }
    
    .nav__list {
        display: flex;
    }

    .nav__list--primary {
        margin: 0;
    }

    .nav__item {
        margin-left: 1.2em;
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .hero__text {
        width: 62%;
    }
    
    .hero__img {
        width: 32%;
        align-self: flex-start;
        margin: 0;
    }
    
    footer .row {
        align-items: flex-end;
    }

    .connect {
        margin-left: 2.2em;
    }
}